:root {
  --primary-color: #0D9DE3	;
  --secondary-color: #FFDD00;
  --accent1-color: #5C6F9F;
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
}

.accent1 {
  background-color: var(--accent1-color);
}


header,
footer {
  background-color: var(--accent1-color);
  padding: 5px;
  color: white;
  text-align: center;
}

body {
  font-family:'Roboto', sans-serif;;
  font-size: 1rem;
  margin: auto;
}

main {
  margin: 10px;
  background-color: white;
  padding: 2em;
}

ul {
  list-style: square;
}

footer a,
footer a:visited,
li a:visited {
  color: var(--secondary-color); 
}

/* Hamburger button */
nav {
  margin: 0 auto;
  max-width: 900px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}
nav ul li a {
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--primary-color); 
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#hamburgerbtn span:nth-child(1) {
  display: block;
  align-items: center;
}
#hamburgerbtn span:nth-child(2) {
  display: none;
}

#hamburgerbtn.open span:nth-child(1) {
  display: none;
}
#hamburgerbtn.open span:nth-child(2) {
  display: block;
}

nav button {
  color:var(--accent1-color);
  background-color: var(--primary-color);
  border: none;
  font-size: 2rem;
}

nav a:hover {
  background-color: var(--primary-color);
  color: var(--accent1-color);
}


/* Color Scheme */
td {
  height: 100px;
  width: 150px;
  text-align: center;
  border: 1px solid;
}
